body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body,html{
        color-scheme: dark;
    }
    body{
        background: beige;
    }
}